<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Destroy</title>
</head>
<body>
    <h1>Are you sure you want to delete the following courese?</h1>
    <p>Name: {{one_course.name}}</p>
    <p>Description: {{one_course.description}}</p>
    <a class="no_button" href="/courses">No</a>
    <form action="/courses/delete/{{one_course.id}}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes! I want to delete this">
    </form>
</body>
</html>