<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body onload="sessionStorage.clear()">
    <div id="wrapper">
        <h1>Counter has been reset</h1>
        <form action="/random_word">
            <input type="submit" value="Generate Again">
        </form>
    </div>
</body>

</html> -->