<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users with Templates</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    <div id="wrapper">
        <h1>All Users</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                {% for user in all_users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.age}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="/add" method="POST">
            {% csrf_token %}
            <h1>Add a User</h1><br>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName"><br>
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <label for="age">Age</label>
            <input type="text" id="age" name="age"><br>
            <input type="submit" value="Add" id="add">
        </form>
    </div>
</body>

</html>