<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Amadon</title>
</head>
<body>
    <h1>Amadon Store!</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in all_products %}
            <tr>
                <form action="/purchase" method="post">
                    {% csrf_token %}
                    <td class="tfont">{{product.description}}</td>
                    <td class="tprice"><input type="hidden" name="id" value="{{product.id}}">{{product.price}}</td>
                    <td><select name="quantity" class="form-select">
                        <option value="1">1</option>              
                        <option value="2">2</option>              
                        <option value="3">3</option>              
                    </select></td>
                    <td><input type="submit" class="btn btn-dark" value="Buy!"></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>