<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Show Details</title>
</head>

<body>
    <h1>Show #{{ show.id }}</h1>
    <h3>Title: {{ show.title }}</h3>
    <h3>Network: {{ show.network }}</h3>
    <h3>Release Date: {{ show.release_date }}</h3>
    <h3>Description: {{ show.description }}</h3>

    Last Updated: {{ show.updated_at }}<br>
    <a href="/shows/{{ show.id }}/edit">Edit</a> | <a href="/shows/{{ show.id }}/delete">Delete</a>
</body>

</html>